*{
    margin: 0;
    padding: 0;
}
body{
    background: url(bg.jpg) no-repeat center center fixed;
    background-size: cover;
}
.container{
    /* border: 13px solid white; */
    color: white;
    position: absolute;
    top: 25%;
    left: 40%;
}
.container h1{
    display: inline-block;
   font-size: 40px;
   border-bottom: 5px solid rgb(2, 57, 112); 
   margin-bottom: 15px;
   padding:13px 0px ;
   width: 50%;
}
.box{
        margin: 22px 0px;
    width: 100%;
    border-bottom: 2px solid black;
}
.box i{
    width: 25px;
    text-align: center;

}
.box input{
    background: none;
    width: 75%;
    padding: 5px 10px;
    font-size: 20px;
    border: none;
    outline: none;
    color: white;
}
.btn{
    cursor: pointer;
    outline: none;
    margin: 12px 0px;
    padding: 10px 21px;
    border-radius: 10px;
    border: 2px solid black;
    font-size: 18px;
    background: none;
    color: white;
}
.btn:hover{
    color: blue;
    background: white;
    opacity: 0.4;

}